<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/admin">Admin</a></li>
    <li><a routerLink="/add-booking">Booking</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/about">About</a></li>
    <li class = "nav-item">
        
      <a routerLink="/home" routerLinkActive="active" class="nav-link" >Home</a>
  </li>
      <li class = "nav-item">  
        <li class = "nav-item">
        
          <a routerLink="/view-all-buses" routerLinkActive="active" class="nav-link" >Booking</a>
      </li>
      
      <li class = "nav-item">
        
        <a routerLink="/login" routerLinkActive="active" class="nav-link" > login</a>
        <li class = "nav-item">  
          <li class = "nav-item">
          
            <a routerLink="/add-payment" routerLinkActive="active" class="nav-link" >Payment</a>
        </li>
        
   
   
     
     
  <li class = "nav-item">
    
    
    <a routerLink="/add-user" routerLinkActive="active" class="nav-link" >Register/Sign up</a>
</li>
<li class = "nav-item">  
  <li class = "nav-item">
  
    <a routerLink="/add-feedback" routerLinkActive="active" class="nav-link" >give feedback</a>
</li>
<li class = "nav-item">
        
        
  <a routerLink="/about" routerLinkActive="active" class="nav-link" >about Us</a>
</li>

  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>
